@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    src: local("PT Sans Regular"),
    local("PT Sans-Regular"),
    url("../fonts/PTSans-Regular.woff2")
    format("woff2"), url("../fonts/PTSans-Regular.woff")
    format("woff");
    font-display: block;
}


@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: bold;
    src: local("PT Sans Bold"),
    local("PT Sans-Bold"),
    url("../fonts/PTSans-Bold.woff2")
    format("woff2"), url("../fonts/PTSans-Bold.woff")
    format("woff");
    font-display: block;
}
